.coin-marquee-wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: #fff !important;
    }

    .coin-marquee-wrapper--dark {
        border-top: 1px solid #222531;
        border-bottom: 1px solid #222531
    }

    .coin-marquee-wrapper--dark .coin-marquee-header-signature {
        border-right: 1px solid #40424e
    }

    .coin-marquee-wrapper--dark .coin-marquee-item::after {
        background-color: #40424e
    }

    .coin-marquee-wrapper--dark .coin-marquee-item-inner {
        color: #fff
    }

    .coin-marquee-wrapper--dark .coin-marquee-item-symbol {
        color: #a1a7bb
    }

    .coin-marquee-wrapper--transparent {
        background: transparent !important
    }

    .coin-marquee-header {
        float: left;
        width: 141px
    }

    .coin-marquee-header-signature {
        overflow: hidden;
        width: 141px;
        padding: 12px 16px;
        box-sizing: border-box
    }

    .coin-marquee-header-signature svg,
    .coin-marquee-header-signature div {
        float: left
    }

    .coin-marquee-header-signature svg {
        height: 18px
    }

    .coin-marquee-header-signature div {
        height: 17px;
        display: inline-block;
        font-weight: 400;
        font-size: 9px;
        line-height: 18px;
        color: #808a9d
    }

    .coin-marquee-container {
        display: flex;
        /* width: calc(100% - 141px); */
        background-color: #fff !important;
        color: #000 !important;
        overflow: hidden;
        white-space: nowrap
    }

    .coin-marquee-container__inner {
        position: relative;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        -webkit-animation-play-state: running;
        animation-play-state: running
    }

    .coin-marquee-container__inner:hover {
        -webkit-animation-play-state: paused;
        animation-play-state: paused
    }

    .coin-marquee-item {
        position: relative;
        min-width: 220px;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 16px
    }

    .coin-marquee-item:hover,
    .coin-marquee-item:focus {
        color: inherit
    }

    .coin-marquee-item::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 0;
        display: inline-block;
        background-color: #eff2f5;
        width: 1px;
        height: 20px
    }

    .coin-marquee-item-inner {
        padding: 16px 0;
        display: flex;
        width: 100%;
        align-items: center;
        text-decoration: none
    }

    .coin-marquee-item-inner:hover {
        color: inherit
    }

    .coin-marquee-item-inner:hover .coin-marquee-item-name {
        opacity: .6
    }

    .coin-marquee-item__icon {
        margin-right: 8px;
        display: inline-block;
        line-height: 1;
        min-width: 20px;
        max-width: 20px;
        height: 20px
    }

    .coin-marquee-item__icon img {
        width: 100%;
        height: 100%
    }

    .coin-marquee-item-info {
        width: 100%
    }

    .coin-marquee-item-info__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1
    }

    .coin-marquee-item-info__row:last-of-type {
        margin-top: 2px
    }

    .coin-marquee-item-name {
        margin-right: 12px;
        transition: .1s
    }

    .coin-marquee-item-name,
    .coin-marquee-item-price {
        font-size: 12px;
        line-height: 1;
        font-weight: 600
    }

    .coin-marquee-item-symbol {
        font-size: 11px;
        transform-origin: left;
        transform: scale(0.9)
    }

    .coin-marquee-item-changes {
        font-size: 11px;
        font-weight: 600
    }

    .coin-marquee-item-changes__icon {
        width: 0;
        height: 0;
        position: relative;
        margin-right: 3px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent
    }

    .coin-marquee-item-changes--up {
        color: #16c784
    }

    .coin-marquee-item-changes--up .coin-marquee-item-changes__icon {
        top: -8px;
        border-bottom: 5px solid #16c784
    }

    .coin-marquee-item-changes--down {
        color: #ea3943
    }

    .coin-marquee-item-changes--down .coin-marquee-item-changes__icon {
        top: 10px;
        border-top: 5px solid #ea3943
    }

    @-webkit-keyframes marquee-scroll {
        from {
            transform: translateX(0%)
        }

        to {
            transform: translateX(-50%)
        }
    }

    @keyframes marquee-scroll {
        from {
            transform: translateX(0%)
        }

        to {
            transform: translateX(-50%)
        }
    }